body, h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway", sans-serif
}

body, html {
	height: 100%;
	line-height: 1.8;
	margin: 0 auto;
}

.w3-navbar li a {
	padding: 16px;
	float: left;
	color: #000000;
}