<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>SCV</display-name>
	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>UserLoginServlet</servlet-name>
		<servlet-class>com.scv.servlet.UserLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserLoginServlet</servlet-name>
		<url-pattern>/userLogin</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UserHomeServlet</servlet-name>
		<servlet-class>com.scv.servlet.UserLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserHomeServlet</servlet-name>
		<url-pattern>/usuario-home</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdmLoginServlet</servlet-name>
		<servlet-class>com.scv.servlet.AdmLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdmLoginServlet</servlet-name>
		<url-pattern>/admLogin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.scv.servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserCalendarServlet</servlet-name>
		<servlet-class>com.scv.servlet.UserCalendarServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserCalendarServlet</servlet-name>
		<url-pattern>/usuario-calendario</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UserInfoServlet</servlet-name>
		<servlet-class>com.scv.servlet.UserInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserInfoServlet</servlet-name>
		<url-pattern>/usuario-dados</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CitiesSelectServlet</servlet-name>
		<servlet-class>com.scv.servlet.CitiesSelectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CitiesSelectServlet</servlet-name>
		<url-pattern>/loadCities</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CentersSelectServlet</servlet-name>
		<servlet-class>com.scv.servlet.CentersSelectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CentersSelectServlet</servlet-name>
		<url-pattern>/loadCenters</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UserFormServlet</servlet-name>
		<servlet-class>com.scv.servlet.UserFormServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserFormServlet</servlet-name>
		<url-pattern>/loadUser</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UserCardServlet</servlet-name>
		<servlet-class>com.scv.servlet.UserCardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserCardServlet</servlet-name>
		<url-pattern>/usuario-cartao</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdmCalendarServlet</servlet-name>
		<servlet-class>com.scv.servlet.AdmCalendarServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdmCalendarServlet</servlet-name>
		<url-pattern>/calendario</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdmCardServlet</servlet-name>
		<servlet-class>com.scv.servlet.AdmCardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdmCardServlet</servlet-name>
		<url-pattern>/cartao</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdmRegisterServlet</servlet-name>
		<servlet-class>com.scv.servlet.AdmRegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdmRegisterServlet</servlet-name>
		<url-pattern>/registro</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SearchPessoaServlet</servlet-name>
		<servlet-class>com.scv.servlet.SearchPessoaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchPessoaServlet</servlet-name>
		<url-pattern>/searchPessoa</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UserRegisterServlet</servlet-name>
		<servlet-class>com.scv.servlet.UserRegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRegisterServlet</servlet-name>
		<url-pattern>/usuario-registro</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdmConfirmationServlet</servlet-name>
		<servlet-class>com.scv.servlet.AdmConfirmationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdmConfirmationServlet</servlet-name>
		<url-pattern>/confirmacao</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SearchRegistroServlet</servlet-name>
		<servlet-class>com.scv.servlet.SearchRegistroServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchRegistroServlet</servlet-name>
		<url-pattern>/searchRegistro</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdmPessoaServlet</servlet-name>
		<servlet-class>com.scv.servlet.AdmPessoaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdmPessoaServlet</servlet-name>
		<url-pattern>/pessoa</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PessoaFormServlet</servlet-name>
		<servlet-class>com.scv.servlet.PessoaFormServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PessoaFormServlet</servlet-name>
		<url-pattern>/loadPessoa</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdmHomeServlet</servlet-name>
		<servlet-class>com.scv.servlet.AdmLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdmHomeServlet</servlet-name>
		<url-pattern>/inicial</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdmVacinadorServlet</servlet-name>
		<servlet-class>com.scv.servlet.AdmVacinadorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdmVacinadorServlet</servlet-name>
		<url-pattern>/agente</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>VacinadorFormServlet</servlet-name>
		<servlet-class>com.scv.servlet.VacinadorFormServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VacinadorFormServlet</servlet-name>
		<url-pattern>/loadVacinador</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdmGerenteServlet</servlet-name>
		<servlet-class>com.scv.servlet.AdmGerenteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdmGerenteServlet</servlet-name>
		<url-pattern>/gerente</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GerenteFormServlet</servlet-name>
		<servlet-class>com.scv.servlet.GerenteFormServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GerenteFormServlet</servlet-name>
		<url-pattern>/loadGerente</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdmUnidadeServlet</servlet-name>
		<servlet-class>com.scv.servlet.AdmUnidadeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdmUnidadeServlet</servlet-name>
		<url-pattern>/unidade</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UnidadeFormServlet</servlet-name>
		<servlet-class>com.scv.servlet.UnidadeFormServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UnidadeFormServlet</servlet-name>
		<url-pattern>/loadUnidade</url-pattern>
	</servlet-mapping>
</web-app>